body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.we {
  font-size: 360%;
  max-width: 600px;
}

.highlight {
  color: rgb(50, 11, 102);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.tile-image {
  float: left;
  height: 200px;
  margin: 35px;
}

footer {
  margin-top: 10%;
}