<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me - André Carvalho</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include("partials/header.ejs") %>

    <main>
      <div class="principal">
        <div class="card-principal">
          <h1>Analista de Sistemas e Consultor IOT</h1>
        </div>
      </div>
      <div>
        <h2>Atualmente</h2>
        <p>Consultor na PC Serviços e Tecnologia</p>
        <h2>Localização</h2>
        <p>Rio Grande do Sul (e remotamente)</p>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
