@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  transition: background-color 1s ease-in-out;
  background-color: #34626C;
  font-style: normal;
}

#start, #pause, #focus, #break, #inputBtn, .deleteBtn, #inputTask {
    all: unset;
}

.countDown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chrono {
  margin-top: 40px;
  font-size: 70px;
}

#buttons {
  display: flex ;
  gap: 20px;
  padding: 10px;
  margin: 10px;
}

.toDo {
  border-color: aliceblue;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  margin: auto;
}

.inputList {
  display: flex;
  gap: 10px;
}

#taskList {
  gap: 5px;
  margin: 20px;
}

#taskList li {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 5px 10px;
  text-align: center;

}


#inputTask {
  background-color: #6d8d94;
  border-radius: 5px;
  padding: 5px;
}

#inputTask::placeholder {
  color: rgb(52, 52, 52);
  font-style: italic;
}

#start, #pause, #break, #focus {
  padding: 5px;
  border-color: transparent;
  border-radius: 5px;
  border-style: solid
}

#inputBtn:hover, .deleteBtn:hover {
  color: aliceblue;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

#start:hover, #pause:hover, #break:hover, #focus:hover {
  border-color: aliceblue;
  transition: 0.5s ease;
}