@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*
BF9264 marrom escuro
6F826A verde de fundo
BBD8A3 verde fraco
F0F1C5 bege letras
*/


body {
    background-color: #6F826A;
    color: #F0F1C5;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

}

#addButton, .buyButton, .buttonRemove, #inputItem, #inputNum {
    all: unset;
}

.addItems {
    display: flex;
    align-items: center;
    gap: 1%;
}

#inputItem {
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    font-weight: 250;
}

#inputNum {
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    font-weight: 250;
}

::placeholder {
    color: rgb(53, 49, 49);
    opacity: 1;
}

#addButton {
    background-color: #BBD8A3;
    color: black;
    font-weight: 200;
    border-radius: 5px;
    padding: 5px;
    
}

#addButton:hover {
    background-color: #BF9264;
    cursor: pointer;
    transition-duration: 0.5s;
}

#needToBuy {
    background-color: #BF9264;
    display: flex;
    margin: 10px;

}

.buyButton {
    all: unset;
    padding: 5px 10px;
}

.buttonRemove {
    all: unset;
    padding: 5px 10px;
}